<div class="content tab_wrapper" id="channel_content">
  <ul class="tabs">
    <li><a class="current" href="#">Channel Stats</a></li>
  </ul>
  <div class="panes">
    <%= render :partial => 'channels/insync_stats' %>
  </div>
</div>