<div class="left"><%= check_box_tag("hide_insync_cugs", true, false, {:class => 'hide_show_insyn_chk_box', :cug_view_type => ''}) %></div>
<div class ="left" id="loading_insync_cugs" style="margin-top: 0px;margin-left: 2px;">&nbsp;Show Insync CUGs</div>
