<span id="new_buzz_information<%= default_user.id%>"><%= default_user.full_name%><p to_be_removed_frm="information_user_ids" id="new_buzz_information<%=default_user.id%>" class="close right new_buzz_remove_user"></p>
</span>

