<div id="login">
  <div class="logo"><a href="<%=  root_path %>"><img src="/assets/login_logo.png" width="236" height="139" alt="Beehive" border="0"/></a></div>
  <div class="container">
    <%= yield %>
  </div>
</div>
<div class="login_cr">© 2012 Beehive - Powered by Sumeru Software Solutions</div>
